
@font-face {
    font-family: FiraCode;
    src: url(Fonts/FiraCode-VF.ttf);
}
@font-face {
    font-family: pixler2;
    src: url(Fonts/Silkscreen-Regular.ttf);
}
html {
    background-image: url(Images/1980Background.png);
    background-size: cover;
    background-color: transparent;
    overflow-y: scroll;
    min-height: 100vh; /* Allows scrolling even if there's nothing to display */
}
body {
    background-color: transparent;
    background: none;
}
h1 {
    font-size: 100px;
    font-family: pixler2; /* يضيف خط احتياطي لو ikie غير موجود */
    text-align: left;
    position: absolute;
    top: 0px;
    left: 42px;
    background: linear-gradient(to right, #ff0000, #ff5e00);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s ease-out;
}

h1:hover {
    background-position: 0% 0;
}




a {
    font-family: FiraCode;
    text-align: left;
}
h2 {
    background: linear-gradient(to right, #ff0000, #ff5e00);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: FiraCode;
    text-align: justify;
    position: absolute;
    top: 220px; /* Adjusted to be slightly above the paragraph */
    left: 50px;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s ease-out;
}

h2:hover {
    background-position: 0% 0;
}
p {
    font-family: FiraCode;
    text-align: justify;
    position: absolute;
    top: 280px;
    left: 50px;
    background: linear-gradient(to right, #ff0000, #ff5e00);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s ease-out;
}


img {
    display: block;
    width: 10%;
    height: auto;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 1px;
    background-color: transparent;
}



